* {
  padding: 0;
  margin: 0;
}

.mainPage {
  height: 44rem;
  width: 30rem;
  background-color: rgb(255,255,255);
}

@media(min-width: 450px){
.mainPage {
margin-left: 32%;
}
}

@media(max-width: 450px){
  .mainPage{
    width: 100%;
  }
}
@media(min-width: 520px)and (max-width: 1100px){
  .mainPage{
    margin-left: 20%;
    margin-top: 20%;
    width: 60%;
    height: 900px;
  }
}
.LetsConnect {
  color: rgb(181,228,211);
  display: flex;
  justify-content: center;
  font-weight: 800;
  padding-top: 8rem;
  font-size: xx-large;
}

.contact-form {
  max-width: 50rem;
  margin: auto;
}

.container {
  margin-top: 6rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media(min-width: 520px)and (max-width: 1100px){
  .form {
    gap: 4rem;
  }
}

.Button {
  background-color: #8fd7bd;
  border-radius: 4px;
  color: #1b2a51;
  cursor: pointer;
  margin-left: 15rem;
  text-align: center;
  transition: all .2s;
  width: 5rem;
}

@media(max-width: 450px) {
  .Button {
    margin-left: 41%;
  }
}

@media(min-width: 450px){
  .Button {
    margin-left: 42%;
  }
}
.Button:hover {
  background-color: #c9f0e2;
  border: 1px solid rgb(15, 15, 15);
  color: #1b2a51;
  transform: scale(1);
}

input {
  border: 1px solid black;
  margin-left: 5%;
  width: 90%;
  height: 25px;
}

textarea {
  border: 1px solid black;
  margin-left: 5%;
  width: 90%;
}